body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(46, 51, 58, 1);
  height: 1900px;
}

/* Navbar css section */
.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: rgba(46, 51, 58, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.techfriar-logo img {
  height: 80%;
  width: 150px;
}

.nav-buttons {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-right: 55px;
}

.signin-button {
  border-radius: 10px;
  width: 96px;
  height: 36px;
  font-size: 17px;
  font-weight: 500;
}

.signin-button,
.discord-logo {
  padding: 10px 20px;
  background-color: rgba(46, 51, 58, 1);
  box-shadow: -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1), 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1);
  border: none;
  color: rgba(178, 194, 203, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord-logo {
  border-radius: 12px;
  width: 49px;
  height: 45px;
}

.discord-logo img {
  height: 28px;
  width: 28px;
}

.signin-button:hover,
.discord-logo:hover {
  background-color: #322f2e;
}

.navbar-container {
  padding-inline: 50px;
  padding-block: 8px;
}

/* Nav bar css section ends */

/* Upper left single frame css section */
.frame {
  width: 430px;
  height: 300px;
  position: relative;
  top: 60px;
  left: 146.690673828125px;
  padding: 40px;
  border-radius: 25px;
  gap: 40px;
  box-shadow: -7px -7px 30px 0px rgba(38, 46, 50, 1), 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
  background: rgba(46, 51, 58, 1);
  display: flex;
  flex-direction: column;
}

.p-acc {
  width: 400px;
  height: 150px;
}

.p1 p,
.p2 p {
  margin: 0;
  padding: 0;
}

.p1 {
  font-size: 30px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 40px
}

.p2 {
  position: relative;
  color: rgba(178, 194, 203, 1);
  font-size: 15px;
  line-height: 18.5px;
}

.create_button {
  width: 200px;
  height: 30px;
  gap: 8px;
}

.custom-button {
  width: 150px;
  height: 25px;
  padding: 8px 14px;
  border-radius: 12px;
  background: linear-gradient(0deg, #2E333A, #2E333A), linear-gradient(0deg, #0ED2F6, #0ED2F6);
  border: 1px solid rgba(14, 210, 246, 1);
  box-shadow: -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1), 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: rgba(14, 210, 246, 1);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  gap: 40px;
  margin-top: 30px;
  font-size: 19px;
}

.women {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  width: 280px;
  height: 40px;
  gap: 10px;
}

.women img {
  width: 70px;
  height: 35px;
}

/* Upper left side single frame css ends  */

/* 3 content rows  */
.content-rows {
  align-items: center;
  position: absolute;
  width: 1100px;
  height: 140px;
  padding: 20px;
  gap: 80px;
  top: 600px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;

}

.text-box {
  width: 100%;
  height: 120px;
}

.headline {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  gap: 15px;
}

.content-paragraph {
  width: 95%;
  height: 75px;
  padding: 7px;
  gap: 7px;
}

.content-paragraph #p-graph {
  font-size: 17x;
  line-height: 20px;
}

.headline img {
  width: 25px;
  height: 25px;
  padding: 10px, 1px;
  gap: 6px;
}

.headline #p-head {
  font-size: 23px;
  line-height: 26px;
}

/* Ends content row  */


/* Add account section  */
.second-half {
  height: 1000px;
  width: 800px;
  padding: 60x, 80px, 10px, 80px;
  gap: 20px;
}

.add-account {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(835px, 1fr));
  width: 700px;
  height: 700px;
  padding: 50px;
  left: 200px;
  border-radius: 25px;
  top: 900px;
  gap: 50px;
  background: rgba(46, 51, 58, 1);
  box-shadow: -7px -7px 30px 0px rgba(38, 46, 50, 1), 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
  position: absolute;
}

.heading p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin: 0;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(14, 210, 246, 1);
  padding-left: 215px;
}

.form-container {
  width: 600px;
  height: 565px;
  top: 100px;
  left: 50px;
  position: absolute;
}

.form-class {
  width: fit-content;
  height: 490px;
  position: absolute;
  left: -28px;
  gap: 11px;
}

/* form input area styles */

.input-group select {
  background-color: #2E333A;
}

textarea {
  resize: vertical;
  min-height: 100px;
  width: 94%;
}

button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: #0ED2F6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #09B7E0;
}

.input-group input,
textarea {
  flex: 1;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgba(46, 51, 58, 1);
  color: white;
  background: rgba(46, 51, 58, 1);
  box-shadow:
    3.7338130474090576px 3.7338130474090576px 6.223021507263184px 0px rgba(0, 0, 0, 1) inset,
    -6.223021507263184px -6.223021507263184px 6.223021507263184px 0px rgba(59, 68, 81, 1) inset;
}

.add-account-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.input-group {
  display: flex;
  gap: 35px;
}

input {
  width: 300px;
  height: 15px;
}


.input-group select {
  flex: 1;
  width: 335px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgba(46, 51, 58, 1);
  color: white;
  background: rgba(46, 51, 58, 1);
  box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1), -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1);

}

.dis-block {
  display: block;
}

label {
  font-size: 20px;
  color: rgba(114, 228, 249, 1);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 35px;
}

.custom-button2 {

  height: 45px;
  padding: 8px 14px;
  border-radius: 12px;
  background: linear-gradient(0deg, #2E333A, #2E333A), linear-gradient(0deg, #0ED2F6, #0ED2F6);
  border: 1px solid rgba(14, 210, 246, 1);
  box-shadow: -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1), 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: rgba(14, 210, 246, 1);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  gap: 40px;
  margin-top: 30px;
  font-size: 30px;
  left: 200px;
  width: 280px;
}

/* Add account section ends */
/* Starts the login section  */
.loginAcc{
  margin-left: 380px;
  margin-top: 900px;
  display: flex;
  padding: 30px;
  width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  background: var(--Dark-colour, #2E333A);
  box-shadow: -7px -7px 30px 0px #262E32, 14px 14px 40px 0px rgba(16, 16, 18, 0.75);
}

.loginHead span{
  color: var(--Secondary-Blue, #0ED2F6);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.loginForm-Form{
  display: flex; 
  flex-direction: column; 
  gap: 25px;
}

.loginForm-Form input{
  display: flex;
  width: 250px;
  height: 20px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background: var(--Dark-colour, #2E333A);
  box-shadow: 3.73381px 3.73381px 6.22302px 0px #000 inset, -6.22302px -6.22302px 6.22302px 0px #3B4451 inset;
}

.inputBoxDiv{
  display: flex; 
  flex-direction: column;
  gap: 5px;
}

.signInQue a{
  color: var(--Secondary-Blue-light-1, #72E4F9);
  font-family: Poppins;
  font-size: 12px
}

.signInButtonDiv{
  display: flex;
  justify-content: center;
}

.signInButton{
  color: var(--Secondary-Blue, #0ED2F6);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #0ED2F6;
  background: var(--Dark-colour, #2E333A);
  box-shadow: 6.22302px 6.22302px 18.66907px 0px #000, -6.22302px -6.22302px 18.66907px 0px #3B4451;
}
.signInButton:hover {
  background-color: #363535;
}

/* Ends login acc section  */

/* Background image and gradient section */
.background-img {
  z-index: -1;
  top: 200px;
  left: 370px;
  position: absolute;
}

.background-img img {
  width: 1150px;
  height: 900px;
  opacity: .5;
}

.gradient {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 59.9%, rgba(14, 14, 14, 0) 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  top: 500px;
  z-index: -1;

}

/* Background section ends  */

