/* Nav bar css starts here  */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: rgba(46, 51, 58, 1);
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1), -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 30px;
    width: 95px;
}

/* Search bar in nav bar  */
.search-bar {
    width: 300px;
    height: 15px;
    padding: 8px 13px;
    border-radius: 6.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(46, 51, 58, 1);
    border: none;
    margin-right: 675px;
    box-shadow: 3.7338130474090576px 3.7338130474090576px 6.223021507263184px 0px rgba(0, 0, 0, 1) inset, -6.223021507263184px -6.223021507263184px 6.223021507263184px 0px rgba(59, 68, 81, 1) inset;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 675px;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 15px;
    color: rgba(255, 255, 255, 1);
}

.search-bar::placeholder{
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
}

.nav-btn{
    display: flex;
    gap: 22px;
    height: 45px;
    right: 60px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.frame img{
    width: 38px;
    height: 38px; 
}
.btns button{
    height: 40px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 51, 58, 1);
    border: none;
    border-radius: 8px;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1),-6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1);
}
.btns{
    height: 100%;
}
.btns img{
    margin-top: 5px;
    height: 25px;
    width: 25px;
}

/* Nav bar ends here  */

/* Side bar css starts here  */
.sidebar-container{
    padding-top: 120px;
    position: fixed;
}
.sidebar{                       /* Side bar container */
    width: 75px;
    height: 550px;
    padding: 18px 0;
    border-radius: 0 18px 18px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(46, 51, 58, 1);
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1), -6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1);
}

.sidebar-btns button{
    height: 40px;
    width: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 51, 58, 1);
    border: none;
    border-radius: 8px;
    box-shadow: 6.223021507263184px 6.223021507263184px 18.669065475463867px 0px rgba(0, 0, 0, 1),-6.223021507263184px -6.223021507263184px 18.669065475463867px 0px rgba(59, 68, 81, 1);
}

.sidebar-btns{
    height: 50px;
}
.sidebar-btns img{
    margin-top: 5px;
    height: 19px;
    width: 19px;
}
.main-sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 13px;
}
.exit-sidebar{
    padding-left: 13px;
}

/* Side bar ends here  */

/* The upper side 2 frames css starts here  */
.hor-frame{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame1,
.frame2{
    box-shadow: -7px -7px 30px 0px rgba(38, 46, 50, 1),14px 14px 40px 0px rgba(16, 16, 18, 0.75);
    border-radius: 20px;
    background: rgba(46, 51, 58, 1);
    margin: 0 20px;
    padding-left: 22px;
    padding-right: 22px;
}


/* Frame First css works from here */


.frame1{
    min-width: 350px;
    height: 100%;
}

.frame1-heading p{
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight:600;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 1);
}
.frame1-content-container{
    position: relative;
    height: 300px;
    gap: 20px;
    height: 80%;
    margin-top: -10px;
    /* padding: 20px; */
    justify-content: space-between;
} 
.f1-content{
    height:85px;
    margin: 0;
    padding: 5px;

}
.f1-content p{
    margin: 0;
    padding: 3px 0;
}
.f1-content #first-p{
    color: rgba(255, 255, 255, 1);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 530;
}
.f1-content #second-p{
    color: rgba(14, 210, 246, 1);
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 580;
    line-height: 35px;
}
.f1-content #third-p{
    color: rgba(184, 241, 252, 1);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 550;
    line-height: 18px;
}


/* Frame second scc works from here.... */


.frame2{
    width: 700px;
    height: 94%;
}

.f2-upper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.f2-upper-left{
    width: 180px;
    position: relative;
}

.f2-upper-left #daily{
    color: rgba(255, 255, 255, 1);
    font-family: Poppins,sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;

}

.two-frames{
    display: flex;
    justify-content: space-between;
}

.tf-first{
    width: 40%;
    height: 24px;
    background-color: rgba(102, 133, 153, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(231, 236, 239, 1);
}

.tf-first,
.tf-second{
    font-family: Poppins, sans-serif;
    font-size: 12.8px;
    font-weight: 550;
    line-height: 18px;

}


.tf-second{
    background-color: rgba(14, 210, 246, 1);
    border-radius: 4px;
    height: 24px;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(12, 39, 86, 1);
}


.f2-right-frame{
    height: 75px;
    width: 100px;
    background-color: rgba(46, 51, 58, 1);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 1) inset,-5px -5px 5px 0px rgba(59, 68, 81, 1) inset;
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
} 
.f2-right-frame p{
    margin: 0;
    padding: 1px;
    color: rgba(114, 228, 249, 1);
    font-family: poppins,sans-serif;
}
.f2-right-frame #p1{
    font-size: 12px;
    font-weight: 570;
    line-height: 15px;
}
.f2-right-frame #p2{
    font-size: 30px;
    font-weight: 550;
    line-height: 35px;
}



/* The lower part of Frame two from here... */
.f2-lower{
    padding-top: 30px;
    width: 100%;
    height: 355px;
}

.chart-frame{
    width: 86%;
    height: 100%;
}

.main-chart{
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-number{
    height: 100%;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chart-number li{
    list-style: none;
    font-family: poppins, sans-serif;
    font-weight: 600;
    line-height: 23px;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);

}

.single-frame-container{
    height: 100%;
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.single-frames{
    background: rgba(46, 51, 58, 1);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 1) inset,-5px -5px 5px 0px rgba(59, 68, 81, 1) inset;
    border-radius: 10px;
    width: 60px;
    height: 100%;
    display: inline-block;
    position: relative;     /* Add relative positioning */
}

.inner-frame{
    background: rgba(102, 133, 153, 1);
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    box-shadow: 1.4312949180603027px 1.4312949180603027px 2.8625898361206055px 0px rgba(136, 160, 183, 0.35);
}

.chart-lines{
    width: 100%;
    position: relative;
    margin-top: -386px;
    margin-left: -33px;
}

.lines{
    margin-top: -10px;
    padding: 35px;
}
.lines img{
    width: 690px;
}

/* The upper side 2 frames css ends here  */


/* Bottom frames css starts here  */
.bottom-frames-container{
    margin-left: 70px;
    margin-top: 100px;
    width: 90%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 30px;
}

.bf-heading{                                /*  bottom frame heading */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.bfh-1 p{                                   /*  bottom frame heading-1 */
    color: var(--White-colour, #FFF);
   
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

.bfh-2 p{
    color: var(--blue-Grey, #B2C2CB);
 
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}



.bf-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.bf-body-heading{
    padding: 2px 15px 2px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;
}

.bbh{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1060px;
    height: 30.354px;
}

.bbh-sub{
    position: relative;
}
.bbh-sub p{
    color: var(--blue-Grey-light, #E7ECEF);
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.bf-body-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bbb-frame{
    display: flex;
    padding: 25px 25px 0 25px;
    align-items: flex-start;
 
    justify-content: space-between;
    border-radius: 25px;
    background: var(--Dark-colour, #2E333A);
    box-shadow: 6.22302px 6.22302px 18.66907px 0px #000, -6.22302px -6.22302px 18.66907px 0px #3B4451;
}

.bbb-inner-frame{
    display: flex;
    justify-content: tops;
    flex-direction: column;
    height: 90px;

}

.if1-head{                                /*   if = inner-frame   */
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 9px;
}

.if1h-head p{
    color: var(--blue-Grey-light, #E7ECEF);
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    margin-top: 8.5px;
    line-height: 130%;
}

.if1h-btn button{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background: var(--Dark-colour, #2E333A);
    box-shadow: 6.22302px 6.22302px 18.66907px 0px #000, -6.22302px -6.22302px 18.66907px 0px #3B4451;
}

.if1h-btn img{
    width: 19px;
    height: 19px;
}

.if1h-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -27px;
    margin-left: -38px;
}


.if-line{
    display: flex;
    margin: 1px;
    align-items: center;
}

.if-line #style-1{
    color: var(--Secondary-Blue, #0ED2F6);
    font-family: Poppins,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

.if-line #style-2{

    color: var(--Secondary-Blue-light-2, #B8F1FC);
    font-family: Poppins,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.if-line #style-3{
    color: var(--blue-Grey, #B2C2CB);
    font-family: Poppins,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}

.if-line #style-4{
    color: var(--blue-Grey-light, #E7ECEF);
    font-family: Poppins,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    
}

.bbb-inner-frame .if-line{
    margin: 0; /* Adjust the top and bottom margin */
    padding: 0;  /* Adjust the padding within each .if-line */
  }
  
  .bbb-inner-frame .if-line p {
    margin: 0; /* Reset the margin for <p> elements */
    padding: 0; /* Reset the padding for <p> elements */
  }
  
/* Bottom frame css ends here  */